<script id="reserva-template" type="x-tmpl-mustache">
  <div class="row ">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
                <img src="{{curso.img_url}}" class="img-preview" alt="Responsive image">
            </div>
          </div>


        </div>
        <div class="col-md-6">
            <div class="wizard-container">
                <div class="steps-container">
                  <div id="steps">
                    <div id="step1">
                      <p class="title-plan"><i class="fa fa-cog  detail-icon" aria-hidden="true"></i> Configuracion de su plan</p>
                      <select id="plan" class="form-control">
                      <option   value='none'>seleccione un plan</option>
                        {{#curso.plan}}
                        <option value='{{id}}'>{{nombre}}</option>
                        {{/curso.plan}}
                      </select>
                      <div id="plan-detail">
                      </div>
                    </div>
                    <div id="step2" class="hid title">
                      <p class="title-plan"><i class="fa fa-user detail-icon" aria-hidden="true"></i>Informacion Personal</p>
                      <form class="form-horizontal" id="personal-form">
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Nombres</label>
                          <div class="col-sm-9">
                            <input name="nombre" id="nombre"  class="form-control" placeholder="Nombres">
                          </div>
                        </div>
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Apellidos</label>
                          <div class="col-sm-9">
                            <input name="apellido" id="apellido" class="form-control" placeholder="Apellidos">
                          </div>
                        </div>
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Correo</label>
                          <div class="col-sm-9">
                            <input name="correo" id="correo" class="form-control" placeholder="Correo">
                          </div>
                        </div>
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Pasaporte</label>
                          <div class="col-sm-9">
                            <input name="pasaporte" id="pasaporte"  class="form-control" placeholder="Pasaporte">
                          </div>
                        </div>
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Whatsapp</label>
                          <div class="col-sm-9">
                            <input name="whatsapp"  id="whatsapp" class="form-control" placeholder="Whatsapp">
                          </div>

                        </div>
                        <div class="form-group">
                          <label  class="col-sm-3 control-label personal-label">Agencia</label>
                          <div class="col-sm-9">
                            <input name="agencia"  id="agencia" class="form-control" placeholder="Codigo Agencia">
                          </div>
                        </div>

                    </form>

                    </div>
                    <div id="step3" class="hid title">
                      <p class="title-plan"><i class="fa fa-plane detail-icon" aria-hidden="true"></i> Viajar</p>
                      <p class="viaje-label"> Que tipo de visa tendras?</i></p>
                      <form class="form-horizontal" id="viaje-form">
                        <div class="radio">
                          <label class="viaje-label">
                            <input type="radio" name="visa" id="opciones_1" value="residente" checked>
                            Residente permanente
                          </label>
                        </div>
                        <div class="radio">
                          <label class="viaje-label">
                            <input type="radio" name="visa" id="opciones_2" value="estudiante">
                            Estudiante
                          </label>
                        </div>
                        <div class="radio">
                          <label class="viaje-label">
                            <input type="radio" name="visa" id="opciones_2" value="otra">
                            Otra
                          </label>
                        </div>
                        <div class="radio">
                          <label class="viaje-label">
                            <input type="radio" name="visa" id="opciones_2" value="visitante">
                            Visitante/turista
                          </label>
                        </div>
                    </form>

                    <p class="viaje-label"> Necesitas seguro medico?</i></p>
                    <form class="form-horizontal" id="viaje-form">
                      <div class="radio">
                        <label class="viaje-label">
                          <input type="radio" name="seguro" id="opciones_3" value="si" checked>
                          Si
                        </label>
                      </div>
                      <div class="radio">
                        <label class="viaje-label">
                          <input type="radio" name="seguro" id="opciones_3" value="no">
                          No
                        </label>
                      </div>

                  </form>

                    </div>
                  </div>
                    <div id="step4" class="hid title">
                      <p class="title-plan"><i class="fa fa-building detail-icon" aria-hidden="true"></i>Alojamiento</p>
                      <div id="alojamiento-container">
                      </div>
                    </div>

                </div>

                <div id="state">
                  <button id="back" type="button" class="btn btn-warning btn-state">Atras</button>
                  <button id="next" type="button" class="btn btn-success btn-state">Siguiente</button>
                </div>

                <div class="total-container">
                    <div class="row">

                      <div class="col-sm-12">
                        <div class="alert alert-warning hid " id="alert" role="alert">...</div>
                      </div>
                    </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="proprieties-container">
        <div class="row">
          <div class="col-md-6">
            <ul class="curso-detail">
              <li><h2 id="curso-info-title">Informacion del curso</h2></li>
              <li><i class="fa fa-calendar-check-o detail-icon" aria-hidden="true"></i> {{curso.numero_horas_semana}} horas por semana</li>
              <li><i class="fa fa-university detail-icon" aria-hidden="true"></i>{{curso.escuela}}</li>
              <li><i class="fa fa-flag detail-icon" aria-hidden="true"></i> {{curso.pais}}</li>
              <li><i class="fa fa-usd detail-icon" aria-hidden="true"></i> Desde {{curso.precio}} COP</li>
              <li><i class="fa fa-suitcase detail-icon" aria-hidden="true"></i> Puede Trabajar:
              {{#curso.puede_trabajar}}
                  Si
              {{/curso.puede_trabajar}}
              {{^curso.puede_trabajar}}
                  No
              {{/curso.puede_trabajar}}
              </li>
              <li><i class="fa fa-th-list" aria-hidden="true"></i> Actividades Alrededor</li>
              {{#curso.actividades}}
              <li class="activity"><i class="fa fa-angle-right" aria-hidden="true"></i> {{.}}</li>
              {{/curso.actividades}}
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="curso-detail curso-more-info">
              <li>
                Mas Informacion
                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
              </li>
            </ul>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>

  </script>
